.collobration {
  position: relative;
  padding: 4% 15% 4% 15%;
  background-color: black;
  color: white;
}
.colx img {
  width: 100%;
}
.colx-bg {
  padding: 15%;
  background-image: url(../images/collobrationx.png);
  background-repeat: no-repeat;
  background-size: 60% 60%;
  position: absolute;
  margin-top: -10%;
  margin-left: 20%;
}
.collobration p {
  font-size: 1.5rem;
  margin-top: 10%;
}
.collobration-bt {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vw;
}
.collobration button {
  padding: 5px;
  width: 100%;
}
.collobration-bts {
  background-color: black;
  color: white;
  border: white solid;
}
.grid1 {
  width: 100%;
  font-size: 16px;
}
.grid1-content {
  width: 100%;
  background-color: #787878;
  padding: 5px;
  font-size: 1.5vw;
}
.grid1-img img {
  width: 100%;
  margin-top: -10%;
}
.grid2 {
  width: 100%;
  font-size: 16px;
}
.grid2 img {
  width: 100%;
}
.grid3 {
  width: 100%;
  font-size: 16px;
}
.grid3 img {
  width: 100%;
}
.grid3-dsc {
  padding: 5px;
  margin-top: -25%;
  font-size: 1.5vw;
}
.grid3 button {
  width: 50%;
  margin-left: 25%;
  font-size: 1.5vw;
  border: none;
  font-weight: 800;
}
.grid4 {
  width: 100%;
  font-size: 16px;
}
.grid4 img {
  width: 100%;
}
.grid4 button {
  width: 15%;
  position: absolute;
  margin-top: 4%;
  margin-left: 1%;
  font-size: 1.5vw;
  border: none;
}
.collobration-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 5px 5px 5px 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.preview {
  margin-top: 5%;
  font-size: 2vw;
  font-family: Rubic Mono One;
}
.preview img {
  width: 100%;
}
#computer {
  width: 100%;
  margin-bottom: 20%;
}
#stand {
  position: absolute;
  width: 10%;
  margin-top: 16%;
  margin-left: -17%;
}
.first p {
  text-align: center;
  font-weight: 800;
  font-size: 4vw;
}
.second p {
  text-align: center;
  font-weight: 800;
  font-size: 4vw;
}
.preview-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#col-footer {
  font-size: 1.5vw;
}
.linear-gradient4 {
  position: absolute;
  width: 10%;
  height: 20%;
  background: linear-gradient(143.31deg, #06b3c1 0%, #7e7e7e 89.12%);
  filter: blur(63.5px);
  margin-left: -20%;
  margin-top: -10%;
}
.linear-gradient5 {
  position: absolute;
  width: 8%;
  height: 20%;
  background: linear-gradient(323.31deg, #cf003e 0%, #7e7e7e 89.12%);
  filter: blur(63.5px);
  margin-left: 80%;
  margin-top: -20%;
}
@media (max-width: 576px) {
  .collobration p {
    font-size: 1rem;
    margin-top: 10%;
  }
  .collobration-bt {
    grid-template-columns: auto;
  }
  .collobration-grid {
    grid-template-columns: auto;
    gap: 10px;
  }
  .grid1 {
    width: 75%;
    margin: 0 auto;
  }
  .grid1-content {
    font-size: 3vw;
  }
  .grid2 {
    width: 75%;
    margin: 0 auto;
  }
  .grid3 {
    width: 75%;
    margin: 0 auto;
  }
  .grid4 {
    width: 75%;
    margin: 0 auto;
  }
  .grid4 button {
    margin-top: 10%;
    margin-left: 15%;
    width: 25%;
    font-weight: 400;
    font-size: 3vw;
  }
  .grid3-dsc {
    font-size: 3vw;
  }
  .grid3 button {
    font-weight: 400;
    font-size: 3vw;
  }
  .preview-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .first p {
    font-size: 8vw;
  }
  .second p {
    font-size: 8vw;
  }
  #stand {
    width: 25%;
    margin-top: 50%;
    margin-left: -48%;
  }
  #col-footer {
    font-size: 2vw;
  }
}
