.follow{
    position: relative;
    padding: 4% 15% 4% 15%;
    background-color: black;
    color: white;
}
.follow-grid{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: auto auto;
}
.social-medias{
    width: 100%;
    text-align: center;
}
.follow-on{
    text-align: center;
    
}
.follow-on img{
    width: 70%;
}
.social-medias img{
    width: auto;
    margin-left: 30px;
}
@media (max-width: 670px) {
    .follow-grid{
        grid-template-columns: auto;
        gap: 10%;
    }
    .follow-on{
        margin-bottom: 10%;
    }
}