.signup {
    position: relative;
    padding: 4% 15% 4% 15%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3%;
  }
  .form{
    font-size: 1.5vw;
    width: 100%;
    text-align: left;
    padding: 20px;
  }
  .form input{
    background-color:#000000;
    padding: 5px;
    margin: 3%;
    width: auto;
    width: 40%;
  }
  #email{
    width:85%;
  }
  .form button{
    padding: 5px;
  }
  .form p{
    font-weight: 100;
  }
  .signup-dsc{
    width: 100%;
    padding: 10px;
  }
  .signup-dsc img{
    margin-top: 10%;
width: 100%;
  }
  .linear-gradient7 {
    position: absolute;
    width: 10%;
    height: 20%;
    background: linear-gradient(323.31deg, #06b3c1 0%, #7e7e7e 89.12%);
    filter: blur(63.5px);
    margin-top: 10%;
    margin-left: 90%;
  }
  @media (max-width: 670px) {
    .signup{
        grid-template-columns: auto;
    }
    .form{
        font-size: 5vw;
    }
    .form input{
        width: 35%;
    }
  }
 